<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
    </startup>
    <connectionStrings>
    </connectionStrings>
    <appSettings>
        <!--******************************       IMAGES   **********************************-->
        <add key="AgencyImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\AgencyImages\" />
        <add key="CarouselImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\CarouselImages\" />
        <add key="ExtensionImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\ExtensionImages\" />
        <add key="DatabaseImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\DatabaseImages\" />
        <add key="DataImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\DataImages\" />
        <add key="LoaderImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\LoaderImages\" />
        <add key="EpaImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\EpaImages\" />
        <add key="FolderImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\FolderImages\" />
        <add key="ProviderImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\ProviderImages\" />
        <add key="DialogImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\DialogImages\" />
        <add key="ToolStripImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\ToolStripImages\" />
        <add key="TileImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\TileImages\" />
        <add key="FormImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\FormImages\" />
        <add key="OfficeImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\OfficeImages\" />
        <add key="FilterImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\FilterImages\" />
        <add key="FileImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\FileImages\" />
        <add key="HeaderFooterImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\HeaderFooterImages\" />
        <add key="InterfaceImages" value="C:\Users\terry\source\repos\Booger\Resources\Assets\InterfaceImages\" />
        <add key="Desktop" value="C:\Users\terry\Desktop\" />
        <!--**********************************   BROWSERS   ******************************-->
        <add key="Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
        <add key="Chrome" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
        <add key="FireFox" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
        <add key="Baby" value="C:\Users\terry\source\repos\Booger\Clients\Baby\net6.0-windows\Baby.exe" />
        <!--***************************** RESOURCE LOCATIONS ******************************-->
        <add key="DatabaseDirectory" value="Data\Database\" />
        <add key="BudgetWeb" value="Resources\Web\index.html" />
        <add key="PathPrefix" value="C:\Users\terry\source\repos\Booger\" />
        <add key="Reports" value="Resources\Reports\Report.xlsx" />
        <add key="Documents" value="Resources\Documents\" />
        <add key="Loading" value="Resources\Pictures\Loader\Loading.gif" />
        <add key="Waiting" value="Resources\Pictures\Loader\Waiting.gif" />
        <add key="Processing" value="Resources\Pictures\Loader\Processing.gif" />
        <!--*********************************      KEYS     ******************************-->
        <add key="UI" value="@32342e302e30TFGxz6WG3cpw1ecf5khk5LloMoHrq/HHltb7tMOTYnE=" />
        <add key="AI" value="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" />
        <add key="ApiKey" value="" />
        <add key="SearchEngineId" value="a2f030f4bfacb4008" />
        <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    </appSettings>
    <runtime>
    </runtime>
</configuration>